<%- include("nav") %>

<section class="container">
  <div class="author-info">
    <% if (user) { %>
      <% if (user.is_author) { %>
        <img class="round-img" src="<%= user.image %>"  alt="<%= user._id %>"/>
      <% } %>
      <p class="text-sm"><%= user.username %></p>
    <% } %>
  </div>

  <div class="posts-list">
  <% if (posts) { %>
    <% posts.forEach(function(post) { %>
    <article class="post-wrapper">
      <img src="<%= post.thumbnail %>" class="post-thumbnail" alt="post-thumbnail">
      <span class="post-tag">Coding</span>
      <div class="post-detail">
        <legend class="post-title"><%= post.title %></legend>
        <div class="timestamp">
          <i class="bi bi-clock"></i>
          <span class="post-date"><%= new Date(post.last_updated).toDateString() %></span>
        </div>
        <span class="author">by <%= post.author.username %></span>
      </div>
    </article>
    <% }) %>
  <% } %>
  </div>
</section>

